@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,200&display=swap');
:root{
    --color-title: #000;
    --color-text: grey;
    --color-price: red;
    --color-botton: orange;
    --font-size: 18px;
    --margin-btm: 20px;
    font-family: 'Titillium Web', sans-serif; 
   
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img{
    width: 100%;
    display: block;
}
body{
    background-color: #EBEBEB
}

.container{
    max-width: 1024px;
    margin: auto;
    
}
.conteiner__nav{
    width: 100%;
    height: 65px;
    background-color: #10b4b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.conteiner__nav__logo img {
    width: 50px;   
    height: 45px;
}
.conteiner__nav__logo h1 {
    color: #000;
}
.conteiner__slider{
    width: 100%;
    height: 200px; 
    overflow: hidden; 
    margin-bottom: var(--margin-btm);
    box-shadow: 2px 8px 15px -1px rgba(0,0,0,0.94);

    
}
.conteiner__slider ul{
    display: flex;
    width: 400%;
    height: 100%;
    animation: slider 15s infinite alternate ease-in;
}

.conteiner__slider li{
    width: 100%;
    
}

.conteiner__slider img{
    height: 100%;
    
}

.conteiner__categorias{
    width: 100%;
    display: grid;
    background-color: #ffffff50;
    grid-template-columns: repeat(5,1fr);

}

.conteiner__categorias a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid  #EAE3D2;
     
    
}
.conteiner__categorias a:hover{
    background-color: #0096FF;
}

.conteiner__categorias img{
    width:35%; 

}
.conteiner__categorias p{
    font-size: .8rem;
    font-weight: 600;
    color: #0F3460;   
}
.conteiner__store{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: var(--margin-btm);   
    padding: 1rem; 
}

.conteiner__store__card{
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.5s;
    width: 80%; 
    margin: auto;
    
}
.container__store__card-details{
    display: flex;
    justify-content: space-around;
    color: #2B4865;
    font-weight: 600;
}

.conteiner__store__card i{
    position: relative;
    left: 80%;
    font-size: 2rem;
    padding-top: 1em;
}

.conteiner__nav-shop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 3000;
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: 0.5rem 1rem;
    background-color: #10b4b480;
}
.conteiner__nav-shop__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteiner__nav-shop__item i{
    font-size: 30px;
}

.conteiner__cart{
    width: 100vw;
    height: 100vh;
    background-color: #EBEBEB;
    z-index: 2000;  
    top: 0;
    right: 0;  
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.5s;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    padding: 1rem;
}
.conteiner__cart-title{
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.conteiner__cart-title i{
    font-size: 2rem;
    font-weight: 400;
}

.conteiner_cart-body {
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
}

.item_cart {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
    "img title"
    "img amount";
}

.item_cart-img {
   width: 100%;
    grid-area: img;
}
.item_cart-title{
    grid-area: title ;
    margin: auto;
    font-size: 2em;
    
}
.item_cart-options{
    grid-area: amount;
    margin: auto;
    font-size: 2em;
    color: #2B4865;
    
    
}
.item_cart-options span{
    font-weight: 600;
    
}
.conteiner_cart-total {
    height: 10%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_cart-show {
    transform: translateX(0);
}

.conteiner__nav-shop-show{
    display: none;
}

@keyframes slider {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    75% {margin-left: -200%;}

    80% {margin-left: -300%;}
    100% {margin-left: -300%;}
}